{% extends "base.html" %}

{% block content %}
    <ul>
    {% for page in pages|sort(reverse=true, attribute='date') %}
    
      {% if page.title != 'Slides' 
      and page.title != 'About' 
      and page.title != 'Bookshelf'
      and page.title != 'link' 
      and page.title != 'Invest'  
      and page.title != 'Business' %}

        <article class="post">
          <h4> 
            <a href="{{ url_for('blog.page', path=page.path) }}">{{ page.title }} 
              <label class="date"> - {{ page.date }}</label></a>  <br/>
               {% if page.tags |length %}

               {% for tag in page.tags.split(',') if tag|trim != 'home' %}

                <small>
                  <a href="{{ url_for('blog.tag', tag=tag|trim) }}"> 
                    <label class="tag">#{{ tag|trim }}</label></a>
                  </small> 
                  
               {% endfor %}

               {% endif %}

               {% if page.categories %}

               {% for tag in page.categories if tag|trim != 'home' %}
      
                <small>
                  <a href="{{ url_for('blog.tag', tag=tag|trim) }}"> 
                    <label class="tag">#{{ tag|trim }}</label></a>
                  </small> 
                  
               {% endfor %}

               {% endif %}

          </h4> 
        </article>
      {% endif %}
    {% endfor %}
    </ul>
{% endblock content %}